#display-outer  {
	position: relative;
	width: 700px;
	z-index: 1;
}

#display  {
	width: 700px;
	height: 700px;
}

#overlay  {
	position: absolute;
	left: 0;
	top: 0;
}

.label  {
	position: absolute;
}

#invariant-input  {
	padding: 20px;
	float: right;
	
	z-index: 4;
}

.entry-panel textarea  {
	font-family: monospace;
}

.basis-values  {
	color: #22c;
}