#display-outer  {
	position: relative;
	width: 700px;
	z-index: 1;
}

#display  {
	width: 700px;
	height: 700px;
/*	border: 1px solid #333;*/
}

#display-upper  {
	width: 700px;
	height: 70px;
}

#overlay  {
	position: absolute;
	left: 0;
	top: 0;
}

.label  {
	position: absolute;
	font-size: 11pt;
	line-height: 14pt;
}

#invariant-input  {
	padding: 20px;
	float: right;
	
	z-index: 4;
}

.error  {
	width: 360px;
	color: #f33;
}

.entry-panel textarea  {
	font-family: monospace;
}

.template  {
	display: none;
}

.basis-values  {
	color: #22c;
}

.ideal  {
	font-size: 15pt;
	padding-bottom: 6px;
}
